*, html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins, sans-serif';
  box-sizing: border-box;
}

body {
  background: #dafb9f;
}

main#chat-app {

}

#messages {
  background-color: #00212b;
  color: #c0cad7;
}